<<<<<<< HEAD
.talleres {
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 2rem;
    font-size: 1rem;
    margin: 2rem 0;
}

.img-taller2 {
    grid-row: 2;
    grid-column: 1;
}

.img-taller {
    border-radius: 50%;
    width: 32%;
    box-shadow: 0 0 7px 3px grey;
}

.img-container {
    display: none;

}

.taller-0,
.taller-2 {
    background-color: #E4D5E2;
}

.taller-1 {
    background-color: #E8E8E8;

}


@media screen and (min-width: 1024px) {
    .container-talleres {
        margin: 0 0 5rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 8rem;
        margin: 0;
    }

    .taller-1 {
        grid-row: 1;
        grid-column: 1;
        background-color: #E8E8E8;
    }

    .taller-2 {
        grid-row: 2;
        grid-column: 2;

    }

    .taller-0 {
        grid-row: 3;
        grid-column: 1;
        background-color: #E8E8E8;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

=======






.talleres {
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 2rem;
    font-size: 1rem;
    margin: 2rem 0;
}

.img-taller2 {
    grid-row: 2;
    grid-column: 1;
}

.img-taller {
    border-radius: 50%;
    width: 32%;
    box-shadow: 0 0 7px 3px grey;
}
.img-container {
    display: none;

}
.taller-0, .taller-2 {
    background-color: #E4D5E2;
}
.taller-1 {
    background-color: #E8E8E8;

}


@media screen and (min-width: 1024px) {
    .container-talleres {
        margin: 0 0 5rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 8rem;
        margin: 0;
    }

    .taller-1 {
        grid-row: 1;
        grid-column: 1;
        background-color: #E8E8E8;
    }
    .taller-2 {
        grid-row: 2;
        grid-column: 2;

    }
    .taller-0 {
        grid-row: 3;
        grid-column: 1;
        background-color: #E8E8E8;
    }
    .img-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

>>>>>>> 909213a9874414acf9d416f3cc84f24b1b6b5a7b
}