.itemdetail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.itemDetail-margin {
    margin: 7rem 2rem;
}

.itemdetail-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-detail {
    width: 100%;
    margin-bottom: 1rem;
}

.button-volver {
    font-size: 1.5rem;
    width: 8rem;
    height: 2rem;

}

.button-volver:hover {
    color: #868686;
}

.button-compra {
    font-size: 1.8rem;
}

.button-compra:hover {
    background-color: #82c9ac;
}

.item-count {
    width: 100%;
}

.botones {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.button-detail {
    width: 100%;
    padding: 0.5rem;
}


header h2 {
    font-size: 2rem;
}

.link {
    cursor: default;
}

.link:visited {
    color: rgb(100, 100, 100);
}

.billete {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}


.nav-itemdetail {
    font-size: 2rem;

}

.p-description {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.p-descuento {
    padding-left: 0.5rem;
    font-size: 1.3rem;
}

@media screen and (min-width: 1024px) {
    .itemdetail-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 17% 55% 12%;
        column-gap: 6rem;
        height: 55rem;
    }

    .img-detail {
        margin-bottom: 0;
        width: 100%;
    }

    .nav-itemdetail {
        font-size: 2.5rem;
        grid-column: 2;
        grid-row: 1;
    }

    .itemdetail-titulo {
        justify-content: left;
        grid-column: 2;
        grid-row: 2;
    }

    .item-description {
        grid-row: 3;
        grid-column: 2;
    }

    .p-description {
        font-size: 1.7rem;

    }


    header h2 {
        font-size: 4rem;
    }

    .item-count {
        grid-column: 2;
    }

    .picture-item {
        grid-column: 1;
    }

    .h1-detail {
        display: none;
    }

    .button-volver {
        font-size: 2rem;
        height: 3rem;
    }

    .itemDetail-margin {
        margin: 10rem 18rem;
    }

    .billete {
        grid-column: 2;
        grid-row: 4;
    }

    .p-descuento {
        font-size: 1.6rem;
        padding-top: 0.2rem;
    }

    .botones {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
    }

    .button-detail {
        padding: 0.5rem 3rem;
        justify-content: space-between;
        font-size: 1.5rem;
        letter-spacing: 0.2px;
    }
}