.search {
    display: flex;
    align-items: center;
}

.btn-search {
    color: grey;
    border: 1px solid grey;
    width: 50%;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
}

.input-search {
    height: 2.5rem;
    width: 70rem;
}

.btn-search:hover {
    background-color: black;
    color: white;
}