.enlaceNavBar {
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 0.5rem 3rem;
    position: relative;
    height: 100%;
}

.enlaceNavBar:hover {
    color: #de771d;
    /* border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4; */
}