.container-flex {
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 5rem;
}

.section-cont {
    flex-grow: 1;

}

.container-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    width: 100%;
    height: 78%;
    margin: 2rem;
    margin-bottom: 1rem;
    border-left: 5px solid #82C9AC;


}

.container-form label {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.mensaje {
    grid-column: 1/3;
}

.submit {
    grid-row: 4;
    grid-column: 2;
    margin-top: 3rem;
}



.nombre,
.apellido,
.email,
.telefono,
.mensaje {
    display: flex;
    flex-direction: column;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.input-contacto {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

input,
textarea,
.submit button {
    border: none;
    height: 3rem;
    padding: 0.8rem;
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}

.submit button {
    width: 100%;
    padding: 5px 5px;
    text-transform: uppercase;
    border: 1px solid #8d8d8d;
    border-radius: 0;
    color: #575757;

}

.button-enviar {
    background-color: #abdbc7;
    font-weight: 400;
}

.icon-alert {
    width: 5rem;
    height: 5rem;
}

.h2-contacto {
    color: #636363;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.icon-cont {
    font-size: 1.5rem;
    font-weight: 200;
}

.img-cont {
    width: 10%;
}


@media screen and (min-width: 1024px) {
    .container-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 4rem;
        padding: 5rem;
        row-gap: 2rem;
    }

    input,
    textarea,
    .submit button {
        height: 4rem;
        padding: 0 0.7rem;

    }

}