/* Acá van los estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


.navBar {
    margin: 0 -10rem;
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 4rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;

}

p {
    font-size: 1.7rem;
    margin: 0;
}

input,
textarea {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


button {
    font-size: 2rem;
    border: 1px solid grey;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    margin-right: 1rem;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    color: #575757;
}

.button:hover {
    color: rgb(55, 55, 55);
    border: 2px solid rgb(123, 123, 123);
}

span {
    font-size: 1.7rem;
    font-weight: 600;
}

@media screen and (min-width: 324px) {
    .display-flex {
        display: flex;
        flex-direction: column;
    }

    body {
        font-family: "Poppins", sans-serif;
        background-color: #FFFFFF;
        margin: 0 2rem;
    }

}

@media screen and (min-width: 768px) {
    body {
        margin: 0 10rem;
    }
}



@media screen and (min-width: 1024px) {

    input,
    textarea {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    h1 {
        font-size: 3rem;
        margin: 5rem;
    }

}