.containerCont {
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.contador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.buttonCont {
    border: none;
    font-size: 1.5rem;
    margin-right: 0;
}

.numCont {
    padding: 0 0.2rem;
    display: flex;
    align-items:center;
    font-size: 1.8rem;
}

.buttonCard {
    font-size: 1.7rem;
    padding: 0.2rem;
    width: 100%;
    margin-top: 1rem;
    letter-spacing: 0.5px;
}
.buttonCard:hover {
    background-color: #82c9ac;
}