.containerCont {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.contador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0 0.2rem;
}

.buttonCont {
    border: none;
    font-size: 1.5rem;
    margin-right: 0;
}

.numCont {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.buttonCard {
    font-size: 1.5rem;
    padding: 0.2rem;
    width: 100%;
    letter-spacing: 0.5px;
    text-transform: lowercase;
}

.buttonCard:hover {
    background-color: #82c9ac;
}

.agregar-carrito {
    padding: 0.5rem;
}


@media screen and (min-width: 1024px) {
    .buttonCard {
        font-size: 1.7rem;
        letter-spacing: 1px;
    }

    .agregar-carrito {
        padding: 0.5rem;
    }

    .contador {
        padding: 0.3rem;
    }


}